<body>

  <div id="wrapper">

    <p id="stars"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></p>
    <p id="title" contenteditable="false" spellcheck="false"><span>Empresas</span></p>
    <p id="slogan"><span>De</span> - <span>Sucursales</span>.</p>

  </div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide mx-10 mb-10" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="1000">
        <img src="../../../assets/vid.img/Snapshot.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="../../../assets/vid.img/sucursales2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/vid.img/sucursales3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-white">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <footer class="pie-pagina">
    <div class="grupo-1">
  <div class="box">
    <figure>
      <a href="/inicio">
        <img src="../../../assets/vid.img/69978710_10157626752609740_4924140611423961088_n-removebg-preview.png" alt="logo-kinal">
      </a>
    </figure>
  </div>
  <div class="box">
    <h2>INFORMACION</h2>
    <p>Esta es una pagina web realizada en Angular</p>
    <p>para el avance y el parendizaje de conocimiento</p>
    <p>sobre el tema, trabajo realizado en grupo</p>
  </div>
  <div class="grupo-2">
    <small>&copy; 2022 <b>Empresas de Sucursales</b> - Fundacion Kinal.</small>
    <img src="../../../assets/vid.img/Logo.png" alt="">
  </div>
</div>
</footer>
</body>
